#shortcut a:hover {color: #c81623;}

#header a:hover {color: #c81623;}


/*导航栏位置列表，有bug，后期改用js*/
.cw-icon:hover {
	border: 1px solid #ccc;
	border-bottom: none;
	padding-bottom: 2px;
	background-color: #fff;
}

.cw-icon:hover +.cw-list {
	display: block;
}

.cw-list:hover {
	display: block;
}

.cw-po a:hover {
	background: #f4f4f4;
}